<!DOCTYPE html>
<html>
<head>

<script src="../../JS/Classes/Tradier_API.js"></script>

</head>

<body>
Tradier API<br>

<input type="text" id="stock"><br>
<button onclick="run();">Search Stock</button>
<p id="data"></p>

<script>
function run(){
    
    var tradier = new Tradier_API();
    var obj = tradier.getStock(document.getElementById("stock").value);

    var para = document.getElementById("data");
    para.innerHTML = "";
    para.appendChild(document.createElement("br"));
    para.appendChild(document.createTextNode("Price: $" + obj.quotes.quote.bid));
    para.appendChild(document.createElement("br"));
    para.appendChild(document.createTextNode("Change: $" + obj.quotes.quote.change));
    para.appendChild(document.createElement("br"));
    para.appendChild(document.createTextNode("Percent Change: " + obj.quotes.quote.change_percentage + "%"));
    para.appendChild(document.createElement("br"));
    para.appendChild(document.createTextNode("Volume: " + obj.quotes.quote.volume));
}
</script>
